<div class="card">

    <div class="title-container">
        <div class="card-title">
            Situação cadastral do CPF
        </div>
        <div class="label">Consulta na Receita Federal</div>

    </div>

    <div class="horizontal">
        <div>
            <fa-icon class="icon" [icon]="faUser"></fa-icon>
        </div>
        <div class="vertical">
            <div class="label">Nome</div>
            <div>{{user.name}}</div>
        </div>
    </div>

    <div class="horizontal">
        <div> <fa-icon class="success-check" [icon]="faCheckCircle"></fa-icon> </div>
        <div class="vertical">
            <div class="label">Situação do CPF</div>
            <div>{{user.status}}</div>
        </div>
    </div>


</div>