.container {
    padding: 32px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    /* 1.375 rem = 22 px */
    font-size: 1.375rem; 
    line-height: 30px;
    color: #101213;
    margin-bottom: 8px;
    margin-top: 32px;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    /* 0.875 rem = 14 px */
    font-size: 0.875rem;
    line-height: 16px;
    margin-bottom: 8px;
    color: #4F575E;
}

.cardContainer {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}


