header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 16px;
    background-color: #fff;
}

.headerTitleContainer {
    flex-direction: column;
}

.headerTitle {
    /* 1.5rem = 24px */
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #101213;
}

.breadcrumb {
    /* 0.875rem = 14px */
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Exo', sans-serif;
    color: #787878;
}

.profileIcons {
    flex: 1;
}