
img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #125d79;
}

fa-icon[data-count] {
  position: relative;
}

fa-icon[data-count]:after {
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  content: attr(data-count);
  padding: 0.25em;
  border-radius: 1vh;
  line-height: 0.9em;
  color: white;
  background: rgba(255, 0, 0, 1);
  text-align: center;
  min-width: 1.75em;
  font: bold 0.4em sans-serif;
}

fa-icon {
  color: #125d79;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.container > * {
  margin: 0px 8px;
}

.btn-header {
  border-radius: 16px;
  padding: 8px 16px;
}

.profileIcon {
  position: relative;
  width: 15px;
  height: 15px;
  right: 19px;
}
