<form [formGroup]="searchByCpfForm" (ngSubmit)="submit()">
    
    <div class="form-control">
        <label for="cpfField" class="label">CPF</label>
        <input 
            ngModel
            autocomplete="off"
            formControlName="cpf"
            maxlength="14"
            required id="cpfField"
            placeholder="000.000.000-00"
            [class.invalid]="cpf?.invalid && cpf?.touched"    
        >
    </div>

    <button class="btn btn-default btn-submit" type="submit" [disabled]="cpf?.invalid || isLoading">
        <fa-icon *ngIf="isLoading" class="spinner" [spin]="true" [icon]="faSpinner"></fa-icon>
        <span *ngIf="!isLoading">Consultar por CPF</span>
    </button>


</form>

<span class="error" *ngIf="cpf?.invalid && cpf?.touched">Informe um CPF válido</span>