.stepper {
  display: table;
  width: 50%;
  margin: 0 auto;
}

.step {
  width: 25%;
  display: table-cell;
  position: relative;
  padding: 24px;
}

.step:last-child:active,
.step:first-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.step:first-child .step-bar-left,
.step:last-child .step-bar-right {
  display: none;
}

.step-circle {
  width: 18px;
  height: 18px;
  margin: 0 auto;
  background-color: #c6ced1;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  font-size: 12px;
  color: white;
}

.step.active-step .step-circle {
  background-color: transparent;
  border: 2px solid #165c7d;
}

.step.active-step .step-title {
  color: #165c7d;
}

.step-title {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #889499;
}

.step-bar-left,
.step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #c6ced1;
}

.step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}
