
 
<div class="stepper">
  <div class="step active-step">
    <div class="step-circle"></div>
    <div class="step-title">Início</div>
    <div class="step-bar-left"></div>
    <div class="step-bar-right"></div>
  </div>
  <div class="step">
    <div class="step-circle"></div>
    <div class="step-title">Documentos</div>
    <div class="step-bar-left"></div>
    <div class="step-bar-right"></div>
  </div>
  <div class="step">
    <div class="step-circle"></div>
    <div class="step-title">Dados cadastrais</div>
    <div class="step-bar-left"></div>
    <div class="step-bar-right"></div>
  </div>
  <div class="step">
    <div class="step-circle"></div>
    <div class="step-title">Admissão</div>
    <div class="step-bar-left"></div>
    <div class="step-bar-right"></div>
  </div>
</div>
 
 