
<nav>
    
    <ul>
        
        <li><a routerLink="/">
            <img src="/assets/images/logo.png" alt="logo" class="logo">
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon inactive" [icon]="faBars"></fa-icon>
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon" [icon]="faSearch"></fa-icon>
        </a></li>
        <li><a routerLink="/">
            <img src="/assets/images/icons/star.png" alt="star" class="icon">
        </a></li>
        <li><a routerLink="/">
            <img src="/assets/images/icons/chat.png" alt="chat" class="icon">
        </a></li>
        <li><a routerLink="/">
            <img src="/assets/images/icons/slider.png" alt="slider" class="icon">
        </a></li>
        <li><a routerLink="/">
            <img src="/assets/images/icons/central.png" alt="central" class="icon">
        </a></li>
    </ul>
</nav>
