
<nav>
    
    <ul>
        
        <li><a routerLink="/">
            <img src="/assets/images/shared/logo.png" alt="logo" class="logo">
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon inactive" [icon]="faBars"></fa-icon>
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon" [icon]="faSearch"></fa-icon>
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon" [icon]="faStar"></fa-icon>
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon" [icon]="faCommentAlt"></fa-icon>
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon" [icon]="faSlidersH"></fa-icon>
        </a></li>
        <li><a routerLink="/">
            <fa-icon class="icon" [icon]="faHome"></fa-icon>
        </a></li>
    </ul>
</nav>
